

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <!-- <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span> -->
                <img src="/static/img/Melon.png" style="height: 100%;" />
                MelonStock
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/pos">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
            <% if(typeof user != 'undefined'){ %>
                <% if(user.userType == "root"){ %>
                    <li><a href="/adminDashboard"><span class="glyphicons glyphicons-use"> Dashboard</span>
                <% } %>
                <li><a href="/pos">POS (REMOVE ME) </a> </li>
                <li><a href="/profile"><span class="glyphicons glyphicons-use"> Profile</span>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            <% }else{ %>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <% } %>
        </ul>

    </div>
</nav>