<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./part/head %>
</head>
<body class="container">

    <header>
        <% include ./part/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Dashboard</h1>
            <p>Welcome <%= user.info.firstName %></p>
        </div>
        <div class="panel-group" id="settingsPane">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">PDF biz</h2>
                </div>
                <div class="panel-body">
                    <a href="/userManagement"><button class="btn btn-primary">Manage Users</button> </a>
                </div>

                <div class="panel-body">
                    <a href="/ranging"><button class="btn btn-primary">Manage Stock</button> </a>
                </div>


                <div class="panel-body">
                    <a href="/planData"><button class="btn btn-primary">Add stock by data</button> </a>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ./part/footer %>
    </footer>

</body>
</html>