
<% include ./fullHead.ejs %>

    <main>
        <div class="jumbotron">
            <h2><b>You are logged in as: <%= user.info.firstName %> <%= user.info.lastName %></b></h2>
            <p>With the user level: <%= user.userType %><br>
            You are working with store: <%= user.info.store %></p>

        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3" style="display: inline-block;">
                    <ul class="nav nav-sidebar">
                        <li class="active" pageRef="overview"><a href="javascript:loadPage('overview')">Overview <span class="sr-only">(current)</span></a></li>
                        <li pageRef="dailyReport"><a href="javascript:loadPage('dailyReport');">Daily Report</a></li>
                        <li pageRef="activeSales"><a href="javascript:loadPage('activeSales')">Active Sales</a></li>
                        <li pageRef="activeUsers"><a href="javascript:loadPage('activeUsers')">Active Users</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a href="">Nav item</a></li>
                        <li><a href="">Nav item again</a></li>
                        <li><a href="">One more nav</a></li>
                        <li><a href="">Another nav item</a></li>
                        <li><a href="">More navigation</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a href="">Nav item again</a></li>
                        <li><a href="">One more nav</a></li>
                        <li><a href="">Another nav item</a></li>
                    </ul>
                </div>
                <div class="col-md-9 " id="pageContainer" >

                    <page pageName="dailyReport">
                        <h1 class="page-header">Daily Report</h1>

                        <div class="placeholders">
                            lkmnlkn
                        </div>

                        <h2 class="sub-header">Sales Today</h2>

                    </page>
                    <page pageName="overview" class="activePage">


                        <h2>Sales Today</h2>
                        <div id="tester" style="width:100%;height:30vh;"></div>


                        <h2 class="sub-header">Best performers</h2>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>User</th>
                                    <th>Sales Value</th>
                                    <th>Sales Qty</th>
                                    <th>Last Sale</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Aaron Griffin</td>
                                    <td>£250.67</td>
                                    <td>198.07</td>
                                    <td>3 Minutes Ago</td>

                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Someone Else</td>
                                    <td>£56.29</td>
                                    <td>49</td>
                                    <td>11 Hours Ago</td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </page>
                    <page pageName="activeUsers">
                        <div class="row placeholders" name="ActiveUsers-Container">

                        </div>
                    </page>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <% include ./part/footer %>
    </footer>


<script>
    TESTER = document.getElementById('tester');

    plotx = [7,8,9,10,11,12,13];
    ploty = [23.56,49.90,80,90,89,87,120]

    var trace1 = {
        type: 'scatter',
        x: plotx,
        y: ploty,
        mode: 'lines',
        name: 'Sales',
        line: {
            color: 'rgb(219, 64, 82)',
            width: 1
        }
    };

    var layout = {
        title: 'Hourly Sales',
        xaxis: {
            title: 'Hour',
            titlefont: {
                family: 'Courier New, monospace',
                size: 18,
                color: '#7f7f7f'
            }
        },
        yaxis: {
            title: 'Sales Value (£)',
            titlefont: {
                family: 'Courier New, monospace',
                size: 18,
                color: '#7f7f7f'
            }
        }
    };

    Plotly.newPlot('tester', [trace1], layout)

    $(function(){
        $("page").not(".activePage").css("display", "none");

        $(".jumbotron").click(function () {
            $(this).slideUp();
        })

    })

    function loadPage(pageTitle) {
        $("page").slideUp();
        $("page").removeClass("activePage");
        $("li.active").removeClass("active")

        $("[pageRef=" + pageTitle + "]").addClass("active");
        $("[pageName="+pageTitle+"]").delay(400).slideDown().addClass("activePage");
    }
</script>


<style>

    /* Hide for mobile, show later */
    .sidebar {
        display: none;
    }
    @media (min-width: 768px) {
        .sidebar {
            position: relative;
            display: block;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
            background-color: #f5f5f5;
            border-right: 1px solid #eee;
        }
    }

    /* Sidebar navigation */
    .nav-sidebar {
        margin-right: -21px; /* 20px padding + 1px border */
        margin-bottom: 20px;
        margin-left: -20px;
    }
    .nav-sidebar > li > a {
        padding-right: 20px;
        padding-left: 20px;
    }
    .nav-sidebar > .active > a,
    .nav-sidebar > .active > a:hover,
    .nav-sidebar > .active > a:focus {
        color: #fff;
        background-color: #428bca;
    }



</style>

<script>
    // TEMPLATES
    function generateActiveUser(FullName, _id) {
        return  '<div class="col-xs-6 col-sm-3 placeholder ActiveUser-Item" ActiveUserID="' + _id + '" style="text-align: center">\n' +
                    '<span style="font-size: 600%" class="glyphicon glyphicon-user"></span>\n' +
                    '<div class="ActiveUsers-UserName">'+FullName + '</div>\n' +
                '</div>';
    }
</script>

</body>
</html>