<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./part/head %>
</head>
<body class="container">

    <header>
        <% include ./part/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h2><b>You are logged in as: <%= user.info.firstName %> <%= user.info.lastName %></b></h2>
            <p>With the user level: <%= user.userType %></p>

        </div>

    </main>

    <footer>
        <% include ./part/footer %>
    </footer>

</body>
</html>